MONGO_URI=mongodb+srv://USUARIO:PASSWORD@cluster0.XXXX.mongodb.net/lalapasteleria?retryWrites=true&w=majority&appName=Cluster0
PORT=5001
GOOGLE_CLIENT_ID=
JWT_SECRET=
JWT_EXPIRES_IN=7d
RENDER_DEPLOY_HOOK=
